/* ==========================
   NAVIGATION ARROW BUTTON
========================== */
.btn-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid var(--sky-500);
  background-color: var(--white);
  color: var(--sky-500);
  cursor: pointer;
  transition: all var(--transition-fast);
}

.btn-nav:hover {
  border-color: var(--sky-500);
  color: var(--sky-500);
  background-color: var(--black-08);
}

.btn-nav:active {
  transform: scale(0.98);
}

.btn-nav i,
.btn-nav svg {
  width: 20px;
  height: 20px;
}

.btn-nav.swiper-button-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
